<section id="addComponentSection">
  <select #registeredComponentTypeSelect
    id="registeredComponentTypeSelect"
    class="control"
    [value]="initialRegisteredComponentTypeName"
    (change)="handleRegisteredComponentTypeSelectChange(registeredComponentTypeSelect.value)"
  >
    <option *ngFor="let name of registeredComponentTypeNames">{{name}}</option>
  </select>
  <button #addComponentButton id="addComponentButton" class="control" (click)="handleAddComponentButtonClick()">Add Component</button>
</section>
<section id="predefinedLayoutsSection">
  <select #layoutSelect
    id="layoutSelect"
    class="control"
    [value]="initialLayoutName"
    (change)="handleLayoutSelectChange(layoutSelect.value)"
  >
    <option *ngFor="let name of layoutNames">{{name}}</option>
  </select>
  <button #loadLayoutButton id="loadLayoutButton" class="control" (click)="handleLoadLayoutButtonClick()">Load Layout</button>
</section>
